<div
  class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-auto mt-20"
>
  <div class="p-5">
    <div class="title">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {{ course?.category }}
      </h5>

      <img [src]="course?.iconUrl" alt="book-cover" />
    </div>
    <div class="book-description">
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {{ course?.longDescription }}
      </p>
    </div>
  </div>
</div>
